*{
    margin: 0;
    padding: 0;

}
nav{

    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    
}
.menu-container{
    display: flex;
    list-style: none;
    gap:30px;
}
.nav-btn{
    padding:12px 25px;
    border: none;
    border-radius: 4px;
    color:white;
    background-color:red;
    
}
.menu{
    color:red;
}
.banner-container{
    
}